@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mukta:wght@300&family=Orbitron&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  .left-container{
    width: 30%;
    background: linear-gradient(to left, hsl(0, 2%, 9%), hsl(345, 4%, 21%));
    color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .title{
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
    letter-spacing: 8px;
    opacity: 0.5;
    text-align: center;
  }

  .text-container{
    font-family: 'Mukta', sans-serif;
    margin-top: 20px;
    width: 375px;
    font-size: 12px;
  }

  .social-container{
    margin: 50px;
  }

  .phone-container{
    margin-top: 100px;
    width: 300px;
    height: 30px;
    background-color: #FFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-self: flex-start;
    font-family: 'Mukta', sans-serif;
  }

  .phone-container a{
    text-decoration: none;
    color: black;
  }

  .phone-container img{
    width: 20px;
  }

  .slogan{
    width: 300px;
    margin-top: 40px;
    font-family: 'Black Ops One', cursive;
    text-align: left;
    font-size: 17px;
    color: #FFFF;
    opacity: 0.9;
  }

  .social-container img{
    width: 30px;
    margin-right: 20px;
  }

  .right-container{
    width: 70%;
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  section{
    display: flex;
    height: 100%;
  }

  .logo img{
    width: 150px;
    margin-right: 10vh;
  }

  nav{
    opacity: 1;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    margin-bottom: -80px;
    position: relative;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    text-shadow: 0 0 3px #292626, 0 0 5px #4e4e50;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
  }
  .nav-hover:hover{
    background: #FFFF;
    color: black;
    text-shadow: none;
    transition: .5s;
  } 
  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media screen and (max-width: 450px){
    .checkbtn{
      display: block;
    }
    nav{
        display: block;
        position: fixed;
    }
    .logo img{
        width: 80px;
        margin-left: 147.5px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #FFFF;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

 
  .work{
    margin-top: 80px;
    text-align: center;
    color: #FFFF;
    margin-left: 20px;
  }


  .gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.gallery img {
	box-sizing: border-box;
	cursor: pointer;
	padding: 10px;
	height: 150px;
	width: 150px;
}

.gallery img:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 60px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	height: auto;
}

.close {
	color: #fff;
	position: absolute;
	top: 15px;
	right: 35px;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

#caption {
	color: #ccc;
	padding: 10px 0;
	text-align: center;
	height: 150px;
}
